/*--------------------------------
    design
--------------------------------*/
:root {
	--fond-color: rgb(2, 41, 33);
	--encadre-back: rgba(3, 53, 48, 0.92);
	--radius-back: rgba(53, 135, 132, 0.9);
	--button-back: #02b89d; /*#2d9b8b*/
	--button-hover-back: #ebc428;
	--titre-active: #bb48b3;
	--footer-back: rgb(60, 60, 60);
	--form-back: #fed0177e;
	--box-shadow: 0px 2px 18px rgba(252, 250, 250, 0.496);
	--border-shadow: 1px solid #888;
}
.encadre {
	box-shadow: var(--box-shadow);
	background-color: var(--encadre-back);
	border: var(--border-shadow);
	border-radius: 3px;
	padding: 20px;
}
a, label {
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	color: white; /* annule color par défaut lien a*/
}
a:hover, label:hover{
	color: #f6d85e;
}
button {
	width: 50%;
	padding: 15px;
	background-color: var(--button-back);
	border-radius: 5px;
	margin-top: 10px;
	opacity: 0.9;
}
button:hover {
	background-color: var(--button-hover-back);
}
h1 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 1.5rem;
}
h2 {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
h3 {
	margin-top: 15px;
	font-size: 18px;
}
p {
	margin: 5px 0;
	font-size: 14px;
}
ul {
	padding: 0;
}
li {
	font-size: 14px;
}
#emoji {
	font-size: 4vh;
}

/*--------------------------------
    balises structurelles
--------------------------------*/
* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	border: none;
	font-family: "Fira Code", monospace;
}
body {
	margin: 0;
	max-width: 1920px;	/*écran full HD normal*/
	max-height: 1080px;	/*écran full HD normal*/
	min-width: 366px;
	background-color: rgb(133, 131, 131);
	color: white;
}
main {
	position: relative;
	min-height: calc(100vh - 80px);	/* 100% de la hauteur de la fenêtre - hauteur du footer */
}
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 8;
	text-align: center;
	padding: 13px;
	background-color: var(--footer-back);
	font-size: 12px;
}

/*--------------------------------
    header
--------------------------------*/
header {
	position: fixed;
	width: 100%;
	z-index: 6;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	pointer-events: none; /* les clicks passent au travers*/
}
.logo-nom, nav, .color-picker {
	pointer-events: auto; /* les clicks sont réactivés*/	
	box-shadow: var(--box-shadow);
	border: var(--border-shadow);
	border-radius: 3px;
}
.logo-nom {
	border-radius: 0 5px 5px 0;
	background-color: var(--radius-back);
	width: max-content;
	padding: 5px 25px 15px 25px;
	white-space: nowrap;
	pointer-events: auto; /* les clicks sont réactivés*/
}
.logo-nom a {
	font-size: inherit;	/* hérite de la taille de h1*/
}
nav {
	align-self: flex-end;
	background-color: var(--radius-back);
	border-radius: 5px 0px 0px 5px;
	padding: 5px 25px 0px 25px;
	margin-bottom: 20px;
}
nav ul {
	display: flex;
	gap: 1.4rem;
}

/*--------------------------------
    color-picker
--------------------------------*/
.color-picker {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 120px;
	margin-top: 200px;
	align-items: center;
	padding: 5px 5px;
	background-color: var(--radius-back);
	border-radius: 100px 0px;
}
.color-picker label {
	display: flex;
	align-items: center;
	font-size: 12px;
}
.color-picker input {
	margin-top: 5px;
	padding: 0;	/* Retire le padding par défaut*/
	cursor: pointer;
}
.color-picker input:hover {
	box-shadow: 6px 6px 6px rgba(87, 235, 2, 1), -6px -6px 6px rgba(227, 197, 3, 1);
}

/*--------------------------------
    conteneurs Parallaxe
--------------------------------*/
.parallax-container {
	position: absolute;
	width: 100%;
}
.fond {
	position: fixed;
	top: -60px;
	background-image: url(images/fond-developpeur-1792x1024.webp);
	background-color: var(--fond-color);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 110vh;
	opacity: 1;
	z-index: -1;
}
.medium {
	background-image: url(images/Mask-medium-ginko-desktop-1920x2160.webp);
	background-size: 100%;
	height: 400vh;	/* Plus grand car défile plus vite */
	z-index: 2;
	display: flex;
}
.fast {
	background-image: url(images/Mask-Fast-ginko-desktop-1920x2160.webp);
	background-size: 100%;
	height: 1000vh;	/* Le plus grand car défile encore plus vite */
	z-index: 3;
}
.contenu {
	display: flex;
	flex-direction: column;
	z-index: 4;
}

/*--------------------------------
  sections à propos
--------------------------------*/
section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 280px;
	display: flex;
	width: 80%;
	scroll-margin-top: 278px; /* Ajoute une marge pour compenser la hauteur du header (liens nav). */
}
.a-propos {
	margin-top: 390px;
	padding: 15px 6%;
}
.a-propos div {
	display: flex;
	flex-direction: column;
}
.a-propos button {
	align-self: center;
}
.modal {
	top: 250px;
	align-self: center;
	display: none;
	position: fixed;
}
.modal-content {
	max-width: 800px;
	position: relative;
}
.close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: var(--titre-active);
	font-size: 38px;
}
.close:hover, .close:focus {
	color: white;
	cursor: pointer;
}

/*--------------------------------
  sections mes compétences
--------------------------------*/
.competences {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.onglet-container {
	display: flex;
	margin-bottom: 15px;
}
.onglet-link {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	margin: 0 10px;
	background-color: var(--button-back);
	opacity: 0.5;
	transition: background-color 0.3s ease;
}
.onglet-link.active {
	background-color: var(--button-back);
	opacity: 1;
	font-size: 18px;
}
.onglet-link:hover {
	background-color: var(--button-hover-back);
}
.onglet-content {
	display: none;
	justify-content: center;
}
.onglet-content ul {
	padding-left: 2%;
}
.onglet-content ul li {
	margin-bottom: 5px;
}

/*--------------------------------
  Section Projets
--------------------------------*/
/* Conteneur principal des projets */
.projets {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
  }
  /* Conteneur du carousel */
  .carousel {
	position: relative;
	display: flex;
	flex-direction: column; /* Dispose le carousel en colonne pour le défilement vertical */
	align-items: center;
	width: 100%;
	height: 400px; /* Hauteur définie pour afficher un projet à la fois */
  }
  .carousel-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	scroll-behavior: smooth;
  }
  .projet-item {
	min-height: 100%; /* Prend toute la hauteur visible de carousel */
	display: flex;
	gap: 20px;
  }
  .content-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  .content-text {
	flex: 1;
	display: flex;
	flex-direction: column;
  }
  
  /* Styles pour l'overlay sur image */
  .image-container {
	position: relative;
	display: inline-block;
  }
  .image-container img {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;
  }
  .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--encadre-back);
	opacity: 0.3;
	pointer-events: none;
  }
  /* Conteneur des boutons GitHub et site */
  .buttons-container {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	margin-top: auto;
	margin-bottom: 20px;
  }
  /* Boutons de navigation */
  .carousel-controls {
	display: flex;
	justify-content: space-between; /* Espace entre les éléments */
	align-items: center;
	gap: 10px;
	width: 60%; /* Prend la largeur de l'image */
	margin-top: auto; /* Pousse les contrôles en bas de .image-container */
  }
  
  .prevButton,
  .nextButton,
  .counter {
	flex: 1; /* Prend 1/3 de la largeur disponible */
	text-align: center; /* Centre le texte dans chaque élément */
	font-size: 12px;
	padding: 5px;
	white-space: nowrap; /* Empêche le texte de revenir à la ligne */
  }

/*--------------------------------
  formulaire contact
--------------------------------*/
/* Style de base pour le formulaire */
.contact{
	display: flex;
	flex-direction: column;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
}
/* Style des champs de saisie */
form input[type="text"], 
form input[type="email"],
form textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    resize: vertical;
	background-color: white;
	opacity: 0.8;
}
form button {
    width: 100%;
}
.label-hidden{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* --------------------------------------- */
.the-end {
	width: 50%;
	height: auto;
	align-self: center;
	margin-top: 500px;
}

/*--------------------------------
  Media queries pour responsive
--------------------------------*/
@media (max-width: 1024px) { /* Responsive pour tablettes */
	

	footer {
		font-size: 10px;
	}
}

@media (max-width: 768px) { /* Responsive pour petits écrans/tablettes */
	.fond{
		background-image: url(images/fond-developpeur-1024x585.webp);
	}
	
	h1,	h2 {
		font-size: 1.1rem;
	}
	a {
		font-size: 0.75rem;
	}
	section {
		width: 90%;
	}
	.carousel{
		height: 750px;
	}
	.projet-item {
		flex-direction: column;	
	}
	.color-picker {
		display: none;
	}
	.carousel-controls {
		width: 100%;
	}
	.the-end {
		width: 70%;
	}
	form {
        padding: 1.5rem;
    }
}
@media (max-width: 480px) {	/* Responsive pour mobiles */
	.fond{
		background-image: url(images/fond-developpeur-640x366.webp);
	}
	p,	li {
		font-size: 12px;
	}
	section {
		width: 95%;
	}
	.titres {
		flex-direction: column;
	}
	.titres h3 {
		margin: 3px;
	}
	.onglet-link.active {
		font-size: 14px;
	}
}